/*---------------
    RESET
----------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------
    GENERAL
----------------*/
body {
  background-color: #eeeeee;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
  text-align: center;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.btn[type="submit"] {
  background-color: lightcoral;
}
.btn[type="reset"] {
  background-color: #ccc;
}

/*---------------
    APP
----------------*/
.app-header {
  border-bottom: 2px solid #eeeeee;
  padding: 20px;
}
.app-header h1 {
  margin-bottom: 20px;
}
.app-header input {
  width: 100%;
  border: 1px solid #cecece;
  padding: 8px 10px;
  border-radius: 8px;
}

form {
  display: flex;
}

.app-body {
  padding: 20px;
}

#list {
  list-style-type: none;
}

#list li {
  padding: 8px 0px;
  cursor: pointer;
}

#list li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.done {
  text-decoration: line-through;
}
